@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $max-width;
  height: $bottom-nav-height;
  padding-bottom: $safe-area-bottom;
  background: white;
  border-top: 1px solid $gray-200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: $z-bottom-nav;
}

.navItem {
  @include flex-column;
  @include flex-center;
  flex: 1;
  height: 100%;
  gap: 4px;
  color: $gray-500;
  transition: color 0.2s;
  text-decoration: none;

  &.active {
    color: $primary;
  }

  &:hover:not(.active) {
    color: $gray-700;
  }
}

.label {
  font-size: 11px;
  font-weight: 500;
}

.navIcon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
